.footer {
    z-index: 1;
    height: 3.5vh;
    position: fixed;
    bottom: -20px;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 15px;
    margin-top:15px;
    background-color: #D9D9D9;
    color: #fff;
}

.link {
    padding-right: 20px;
    text-decoration: none;
    color: black
}
.main {
    min-height: 77vh;
}

