.links {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    text-decoration: none;
    color: #333;
    text-align: center;
    padding: 14px 40px 14px 16px;
    line-height: 80px;
}

.header {
    margin: 0;
    padding: 10px;
    min-height: 50px;
    text-align: right;
    color: #333;
}

.menuicon {
    cursor: pointer;
    display: none;
    position: fixed;
}


.bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.topnav {
    overflow: hidden;
}

.ul {
    margin: 1em;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 25px;
}

.li {
    margin: 0;
    padding: 0;
}

.menuicon {
    position: absolute;
    right: 20px;
    top: 25px;
    display: none;
}

@media screen and (max-width: 1024px) {
    .topnav .li {
        display: none;
        position: relative;
    }

    .ul {
        margin: 1em;
        padding: 0;
        position: static;
        text-align: left;
    }

    .menuicon {
        display: block;
    }

    /*.topnav.responsive .li {
        display: block;
        visibility: visible;
        color: #333;
    }

    .topnav.responsive .links {
        visibility: visible;
        font-size: 30px;
    }*/

}